* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* navigation menu */
.visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 10px auto;

}

.nav-items {
    display: flex;
    gap: 30px;
}

.nav-items li {

    font-size: 24px;
    ;
}

.nav-items li a {
    text-decoration: none;
    color: black;
}

.nav-items li a:hover {
    color: orange;
}

.logo-item li {
    list-style: none;
}

.logo {
    width: 120px;
}

/* end of navigation  bar */
/* beginning of hero section */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 50px 150px;
}

.hero-content {
    width: 1100px;
    background: url('./assets/bugatti.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
